
/* Your CSS Code here. */
.container{
	
	border:5px solid  rgb(4, 255, 4) ;
	background:rgb(41, 0, 0);
}
.container .row{
	border:5px solid rgb(255, 188, 188);
	height:200px;
}
.container .row .col{
	border:2px dotted rgb(38, 38, 43);
}
.r1c1{
	background:teal;
}
.row1-col2{
	background:thistle;
}
.r2c1{
	background:tomato;
}
.row2-col2{
	background:turquoise;
}
.r3c1{
	background:violet;
}
.row3-col2{
	background:yellowgreen;
}

	
